# Generate Unique CSV

In [5]:
import pandas as pd
import os

file_path = 'data/sp500/SP500.csv'
folder_path = "data/sp500/csv/"
output_file_path = 'data/sp500/SP500.csv'

def add_ticker_and_load_csv(file_path):
    ticker = os.path.basename(file_path).split('.')[0]
    df = pd.read_csv(file_path)
    df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
    df.insert(0,"Ticker",ticker)
    return df


csv_files = [os.path.join(folder_path, file) for file in os.listdir(folder_path) if file.endswith('.csv')]
combined_df = pd.concat((add_ticker_and_load_csv(file) for file in csv_files), ignore_index=True)
sorted_df = combined_df.sort_values(['Ticker', 'Date'])

sorted_df.to_csv(output_file_path, index=False)

# Read Data

In [10]:
df = pd.read_csv(output_file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3266000 entries, 0 to 3265999
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   Ticker          object
 1   Date            object
 2   Low             float64
 3   Open            float64
 4   Volume          float64
 5   High            float64
 6   Close           float64
 7   Adjusted Close  float64
dtypes: float64(6), object(2)
memory usage: 199.3+ MB

In [11]:
df.describe()

,Low,Open,Volume,High,Close,Adjusted Close
count,3.258423e+06,3.258423e+06,3.258423e+06,3.258423e+06,3.258423e+06,3.258423e+06
mean,3.821284e+02,3.849360e+02,5.064393e+06,3.881214e+02,3.851922e+02,3.783433e+02
std,8.803883e+03,8.874080e+03,3.072309e+07,8.933282e+03,8.868704e+03,8.868953e+03
min,1.000000e-05,0.000000e+00,0.000000e+00,1.000000e-05,1.000000e-05,-2.799133e+02
25%,7.900000e+00,7.680000e+00,3.658000e+05,8.125000e+00,8.000000e+00,4.141712e+00
50%,2.345833e+01,2.369754e+01,1.232220e+06,2.405688e+01,2.377000e+01,1.595139e+01
75%,5.196863e+01,5.243404e+01,3.357400e+06,5.317000e+01,5.258000e+01,4.232024e+01
max,5.333450e+05,5.443890e+05,7.421641e+09,5.443890e+05,5.391800e+05,5.391800e+05

In [19]:
print("Number of null values per column:")
counts = df.count().to_frame()
counts.columns = ['count']
counts['nulls'] = df.shape[0] - counts['count']
counts

Number of null values per column:

                  count  nulls
Ticker          3266000      0
Date            3266000      0
Low             3258423   7577
Open            3258423   7577
Volume          3258423   7577
High            3258423   7577
Close           3258423   7577
Adjusted Close  3258423   7577

In [26]:
#check it there are rows with the same ticker and date
df.duplicated(['Ticker', 'Date']).sum()

0

In [29]:
missing_values_by_ticker = df.groupby('Ticker').apply(lambda x: x.isnull().sum())
print(missing_values_by_ticker)

        Ticker  Date  Low  Open  Volume  High  Close  Adjusted Close
Ticker
A            0     0    0     0       0     0      0               0
AAL          0     0    0     0       0     0      0               0
AAP          0     0    0     0       0     0      0               0
AAPL         0     0    0     0       0     0      0               0
ABBV         0     0    0     0       0     0      0               0
...        ...   ...  ...   ...     ...   ...    ...             ...
XYL          0     0    0     0       0     0      0               0
YUM          0     0    0     0       0     0      0               0
ZBH          0     0    0     0       0     0      0               0
ZION         0     0    0     0       0     0      0               0
ZTS          0     0    0     0       0     0      0               0

[409 rows x 8 columns]